{% extends 'base.html.twig' %}

{% block title %}Liste members{% endblock %}

{% block body %}
 <h2 class="d-flex justify-content-center align-items-center">Liste des membres du site</h2>

<div class="d-flex justify-content-center mt-4">
    <table class="table table-striped" style="max-width: 700px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Newsletter</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for currentMember in members %}
            <tr>
                <td>{{ currentMember.id }}</td>
                <td>{{ currentMember.pseudo }}</td>
                {% set user = currentMember.getUser() %}
                <td>{{ user.getEmail }}</td>
                <td>{{ user.isNewsletter() ? 'Oui' : 'Non' }}</td>
                <td>
                    <form method="post" action="" onsubmit="return confirm('Etes vous sur de vouloir supprimer');">
                        <a href="{{ path('app_back_member_update', {'id': currentMember.id}) }}" class="btn btn-secondary">Modifier</a>
                        <input type="hidden" name="_token" value="">
                        <button class="btn custom-btn">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>  
</div>  
<div class="d-flex justify-content-center mt-4">
    <a class="btn btn-secondary" href="">Ajouter un membre</a>
</div>
{% endblock %}