{% extends 'base.html.twig' %}

{% block title %}Modification : {{ member.pseudo }}{% endblock %}

{% block body %}
    <h1>Modification : {{ member.pseudo }}</h1>

    {{ include('back/member/_form.html.twig', {'button_label': 'Update'}) }}
    
    <a class="btn btn-secondary" href="{{ path('app_back_member_index') }}">Liste des membres</a>
    
    {{ include('back/member/_delete_form.html.twig') }}

{% endblock %}