{% extends 'base.html.twig' %}

{% block title %}Newsletters{% endblock %}

{% block body %}
    <div class="container my-4 w-50">
        <h1 class="text-center">Liste des users</h1>
        <div class="text-center">
            <a class="btn custom-btn-add" href="{{ path('app_back_user_create') }}">Ajouter un user</a>
        </div>
        <table class="table table-sm table-striped table-bordered table-responsive mt-3">
            <thead class="custom-thead">
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Newsletter</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="text-center">
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.newsletter ? 'Oui' : 'Non' }}</td>
                    <td class="d-flex justify-content-around">
                        <a class="btn custom-btn-warning" href="{{ path('app_back_user_update', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}