{% extends 'base.html.twig' %}

{% block title %}Newsletters{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1 class="text-center">Liste des users</h1>
        <div class="text-center">
            <a class="btn btn-success" href="{{ path('app_back_user_create') }}">Ajouter un user</a>
        </div>
        <table class="table table-sm table-striped table-bordered table-responsive mt-3">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Newsletter</th>
                    <th scope="col">Membre</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="text-center">
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.isNewsletter ? 'Oui' : 'Non' }}</td>
                    {% set member = user.getMember() %}
                    {% if member is null %}
                        <td>Non</td>
                        <td class="d-flex justify-content-around">
                            {{ include('back/user/_delete_form.html.twig') }}
                        </td>
                        {% else %}
                        <td>Oui</td>
                        <td class="d-flex justify-content-around">
                            <a href="{{ path('app_back_user_update', {'id': user.id}) }}" class="btn btn-danger">Modifier</a>
                        </td>
                        {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}